@import "@/assets/sass/mixins.scss";
@import "@/assets/sass/variables.scss";

$scrollbar-min-width: $gui-min - 42px;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  background: $accent-dark3;
}

::-webkit-scrollbar {
  min-width: $scrollbar-min-width;
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: $accent-dark2;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-accent;
  border-radius: 12px;
  transition: background 1s;
  background-clip: content-box;
  border: ($scrollbar-width - calc($scrollbar-width * 0.75)) solid transparent;
  
  &:hover {
    background: $scrollbar-accent-hover;
    background-clip: content-box;
    border: ($scrollbar-width - calc($scrollbar-width * 0.7625)) solid transparent;
  }
}