@mixin page-base($bg-color: $accent-dark3) {
  div.container {
    background: $bg-color;
    margin-left: max($sidebar-width, $gui-min);
    height: 100%;

    main {
      padding: 2vw;
    }
  }
}

@keyframes widen-sidebar {
  0% {}
  25% {}
  50% {}
  75% {}
  100% {}
}