@mixin page-base($bg-color: $accent-dark3) {
  div.container {
    background: $bg-color;
    margin-left: max($sidebar-width, $gui-min);
    height: 100%;
  }
}

@mixin index-section($bg-color, $shadow-color) {
  background: $bg-color;
  padding: 2%;
  position: relative;
  box-shadow: 0 0 5px $shadow-color;
}

@mixin intro-move {
  @keyframes intro-move {
    0% {
      top: 10%
    }

    25% {}

    50% {}

    75% {}

    100% {}
  }
}

@keyframes widen-sidebar {
  0% {}

  25% {}

  50% {}

  75% {}

  100% {}
}