$sidebar-width: 6vw;
$sidebar-width-final: 18vw;
$gui-min: 60px;

$scrollbar-width: 1.5vw;
$scrollbar-accent-to: hsl(127, 69%, 31%);
$scrollbar-accent-fro: hsl(221, 62%, 39%);
$scrollbar-accent: linear-gradient($scrollbar-accent-to, $scrollbar-accent-fro);
$scrollbar-accent-hover: linear-gradient(
  lighten($scrollbar-accent-to, 5), 
  lighten($scrollbar-accent-fro, 5)
);

$accent-dark1: hsl(0, 0%, 17%);
$accent-dark2: hsl(0, 0%, 15%);
$accent-dark3: hsl(240, 3%, 7%); 
$accent-dark4: hsl(226, 25%, 10%);
$accent-color1: hsl(172, 68%, 37%);
$accent-color2: hsl(278, 89%, 33%);

$text-color1: hsl(0, 0%, 92%);
$accent-green1: hsl(113, 51%, 62%);