$accent-color: hsl(0, 100%, 40%);
$lightest-gray: hsl(0, 0%, 96%);
$light-gray: hsl(0, 0%, 56%);
$medium-gray: hsl(0, 0%, 38%);
$dark-gray: hsl(0, 0%, 5%);
$header-height: 60px;
$animation-duration: 200ms;
$animation-timing-curve: ease-in-out;